@model IEnumerable<ReactionViewModel>

@{
    ViewData["Title"] = "ReactionOverview";
}

<h2>Overzicht reacties op hulpvraag: @Model.First().QuestionTitle</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Titel
        </th>
        <th>
            Tijdstip van reactie
        </th>
        <th>
            Naam vrijwilliger
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ReactionViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerName)
            </td>
            <td>
                @Html.ActionLink("Start chat", "CreateChat", new { reactionId = item.ReactionId, volunteerid = item.SenderId })
            </td>
            <td>
                @Html.ActionLink("Beoordeel vrijwilliger", "RatingOverview", new { volunteerId = item.SenderId, questionId = item.QuestionId })
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Overview">Terug naar overzicht</a>
</div>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}