@model IEnumerable<ReactionViewModel>

    @{
    ViewData["Title"] = "ReactionOverview";
    }

    <h2>Overzicht reacties op hulpvraag: @Model.First().QuestionTitle</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Titel
                </th>
                <th>
                    Tijdstip van reactie
                </th>
                <th>
                    Naam vrijwilliger
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerName)
                </td>
                <td>
                    @Html.ActionLink("Start chat", "Edit", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
    }
        </tbody>
    </table>

