@using Microsoft.AspNetCore.Http
@model IEnumerable<ProftaakASP_S2.Models.MessageViewModel>

@{
    ViewData["Title"] = "OpenChat";
}

<h2>OpenChat</h2>

@if (Model.Count() == 0)
{
    @:Geen berichten
}
else
{
    foreach (var item in Model) {
        if (item.SenderId == item.UserId)
        {
        <div class="chatmessageSending">
            <div class="chatmessagetext">
                <div class="">
                    @Html.DisplayFor(modelItem => item.VolunteerName)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.MessageContent)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </div>
            </div>
        </div>
            
        }
        else
        {
            <div class="chatmessageReceiving">
                <div class="chatmessagetext">
                    <div>
                        @Html.DisplayFor(modelItem => item.CareRecipientName)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.MessageContent)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </div>
                </div>
            </div>
        }
        <br/>
        
    }
    
}
