@using Models
@model IEnumerable<ProftaakASP_S2.Models.ChatViewModel>

@{
    ViewData["Title"] = "Overview";
}

<h2>Chat Overview</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChatLogID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareRecipientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareRecipientId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLogID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CareRecipientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CareRecipientId)
            </td>
            <td>
                @Html.ActionLink("Open", "OpenChat", new { id=item.ChatLogID, volunteerName=item.VolunteerName, careRecipientName=item.CareRecipientName })
               
            </td>
        </tr>
}
    </tbody>
</table>
